@font-face {
    font-family: "linford";
    src: url("./linford.svg#linfordregular") format("svg");
}

div {
    font-family: 'linford', cursive;
    font-size: 10em;
}

#id {

    font-size: 10em;
}